@reference "../globals.css";

.wrapper { 
    @apply grid place-items-center min-h-[100dvh];
    background-color: var( --color-bg-color-secondary)
}

.form {
    @apply max-w-sm w-full mx-auto p-6 border rounded-2xl shadow grid gap-4;
    background-color: var(--color-bg-color-main);
}

.title {
    @apply text-xl font-semibold text-center
}

.link_text {
    @apply hover:underline;
    color: var(--color-link);
}

.btn {
    background-color: var( --color-bg-element-main);
    cursor: pointer;
}

.label {
    @apply h-[10px]
}

